<div class="container-fluid" ng-controller="paymentInfoController" ng-init="initPaymentInfo()">
    <h2>Payment Information</h2>
    <hr/>
    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCardModal" ng-click="creditCard = ''">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Add Card
    </a>
    <hr/>
    <p ng-hide="creditCards">You have no cards saved.</p>

    <div ng-repeat="card in creditCards" class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> Card
                    <a class="pull-right btn btn-danger" data-toggle="modal" data-target="#deleteCardModal" 
                        ng-click="initDeleteCreditCard(card)" style="padding:2px 10px">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="container-fluid form-group">
                        <label>Card Holder's Name</label>
                        <input type="text" class="form-control" value={{card.nameOnCard}} readonly="readonly"/>
                    </div>
                    <div class="container-fluid form-group">
                        <label> Card Number </label>
                        <div class="input-group">
                            <input type="text" class="form-control" 
                            value="****     ****     ****    {{card.cardNumber.substring(12,16)}}" 
                            readonly="readonly"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label>Expiry Month</label>
                            <input type="text" class="form-control" value={{card.expiryMonth}} readonly="readonly"/>
                        </div>
                        <div class="col-xs-4" >
                            <label>Expiry Year</label>
                            <input type="text" class="form-control" value={{card.expiryYear}} readonly="readonly"/>
                        </div>
                        <div class="col-xs-4">
                            <label>CVV</label>
                            <input type="password" class="form-control" value={{card.cvv}} readonly="readonly"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
    </div>

    <!-- ADD CARD MODAL -->
    <div class="modal fade" id="addCardModal" tabindex="-1"
    role="dialog" aria-labelledby="addCardModal"
    style="background: rgba(0, 0, 0, 0.25)">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content" ng-init="creditCard = ''">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Add Card</h4>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-credit-card" aria-hidden="true"></i> New Card </h3>
                                    <div class="checkbox pull-right">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="container-fluid form-group">
                                            <label>Card Holder's Name</label>
                                            <input type="text" ng-model="creditCard.nameOnCard" class="form-control" pattern="\w+ \w+.*" required>
                                        </div>
                                        <div class="container-fluid">
                                            <label>Card Number</label>
                                            <div class="row form-group">
                                                <div class="col-md-3 col-sm-6">
                                                    <input ng-model="creditCard.number_1_4" type="text" class="form-control input-md" 
                                                    maxlength="4" pattern="\d{4}">
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6"> 
                                                    <input ng-model="creditCard.number_5_8" type="text" class="form-control input-md" 
                                                    maxlength="4" pattern="\d{4}">
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6">
                                                    <input ng-model="creditCard.number_9_12" type="text" class="form-control input-md" 
                                                    maxlength="4" pattern="\d{4}">
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6">
                                                    <input ng-model="creditCard.number_13_16" type="text" class="form-control input-md" 
                                                    maxlength="4" pattern="\d{4}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid row">
                                            <div class="col-xs-4">
                                                <label>Expiry Month</label>
                                                <select class="form-control" ng-model="creditCard.expiryMonth">
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4" >
                                                <label>Expiry Year</label>
                                                <select class="form-control" ng-model="creditCard.expiryYear">
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>CVV</label>
                                                <input ng-model="creditCard.cvv" type="password" class="form-control input-md" maxlength="3" pattern="\d{3}">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <button type="button" class="btn btn-primary" ng-click="addCreditCard(creditCard, '#addCardModal')">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL FOOTER -->
                <div class="modal-footer">
                    <p id="message">{{message}}</p>
                    <p id="error">{{error}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL END -->
    
    <!-- DELETE CARD MODAL -->
    <div class="modal fade" id="deleteCardModal" tabindex="-1"
    role="dialog" aria-labelledby="deleteCardModal"
    style="background: rgba(0, 0, 0, 0.25)">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Remove Card</h4>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-credit-card" aria-hidden="true"></i> Card </h3>
                                    <div class="checkbox pull-right">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="container-fluid form-group">
                                            <label>Card Holder's Name</label>
                                            <input type="text" class="form-control" value={{cardToDelete.nameOnCard}} readonly="readonly"/>
                                        </div>
                                        <div class="container-fluid form-group">
                                            <label> Card Number </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" 
                                                value="****     ****     ****    {{cardToDelete.cardNumber.substring(12,16)}}" 
                                                readonly="readonly"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row container-fluid form-group">
                                            <div class="col-xs-4">
                                                <label>Expiry Month</label>
                                                <input type="text" class="form-control" value={{cardToDelete.expiryMonth}} readonly="readonly"/>
                                            </div>
                                            <div class="col-xs-4" >
                                                <label>Expiry Year</label>
                                                <input type="text" class="form-control" value={{cardToDelete.expiryYear}} readonly="readonly"/>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>CVV</label>
                                                <input type="password" class="form-control" value={{cardToDelete.cvv}} readonly="readonly"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <button type="button" class="btn btn-danger" ng-click="deleteCreditCard(cardToDelete, '#deleteCardModal')">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Remove
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL FOOTER -->
                <div class="modal-footer">
                    <p id="message">{{message}}</p>
                    <p id="error">{{error}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL END -->

</div>